{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="whole-container">
    <div class="all-block">
        {% for profile in prof %}
        <div class="top-block w3-margin-bottom">
            <div class="img-container" style="position:relative;">
                <img class="prof-img"
                    src="{% if profile.photo %} {{profile.photo.url}}  {% elif profile.gender == 'FM' %}{% static 'assets/img/avatar5.png' %} {% else %} {% static 'assets/img/avatar2.png' %} {% endif %}"
                    alt="">
            </div>
            <div class="prof-main">
                <div class="namebox"> <span class="firstname">{{profile.first_name}}</span> <span
                        class="lastname">{{profile.last_name}}</span> </div>
                <div class="box-red w3-card ">
                    <div class="gender w3-margin-left"> <span class=" pointer w3-large">Gender</span> <span
                            class="w3-margin-left point"> {{profile.get_gender_display}}</span></div>
                    <div class="classbox w3-margin-left"> <span class=" pointer w3-large">Class</span> <span
                            class="w3-margin-left point">{{profile.get_cls_display}}</span> {% if user.department %}
                        <span class=" point">{{user.get_department_display}}{% endif %}</span>
                    </div>
                    <div class="w3-margin-left"> <span class="pointer w3-large"> Date of birth </span> <span
                            class="w3-margin-left point">{{profile.date_of_birth}}</span></div>
                    <div class="w3-margin-left"> <span class="pointer w3-large"> Age</span> <span
                            class="w3-margin-left point">{{profile.get_age}}</span></div>
                    <a href="{{profile.get_absolute_url}}">See more</a>
                </div>
                <div>
                    <form action="{% url 'make_payment' profile.user.id %}" method="post">
                        {%csrf_token%}
                        <div style="display: flex;">
                            <div>
                                <label class="required" for="id_desc">Desc:</label>
                                <select class="w3-input w3-round "
                                    style="width: 150px;border: 1px solid blue;height: 50px;" name="desc" id="id_desc">
                                    <option value="school fees" selected="">SCH FEES</option>

                                    <option value="uniforms">UNIFORM</option>

                                    <option value="sport wear">SPORTWEAR</option>

                                    <option value="friday wear">FRIDAYWEAR</option>

                                    <option value="lab coat">LABCOAT</option>

                                    <option value="cardigan">CARDIGAN</option>

                                    <option value="hat">HAT</option>

                                    <option value="junior waec">JWAEC</option>

                                    <option value="senior waec">SSCE</option>

                                    <option value="neco">NECO</option>
                                </select>
                            </div>
                            <div>
                                <label class="w3-margin-left" for="">Amount</label>
                                <input class="w3-input w3-round w3-margin-left "
                                    style="width: 150px;border: 1px solid blue;height: 50px;" type="number"
                                    name="amount_paid" id="amount_paid">
                                <input type="hidden" name="user_who" value="{{profile.id}}">
                            </div>
                        </div>
                        <button class="w3-btn w3-blue w3-margin-top" type="submit">Make Payment</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="search-block ">
        <form action="{% url 'search' %}" method="get">
            <input type="search" name="student-name" placeholder="quick search by name" class="w3-input" id="">
        </form>
        <div class="class-list">
            <p>Search by class</p>
            <p class="w3-hover-white w3-large"><a href="{% url 'student_by_class' 'J1' %}">Jss 1</a></p>
            <p class="w3-hover-white w3-large"><a href="{% url 'student_by_class' 'J2' %}">Jss 2</a></p>
            <p class="w3-hover-white w3-large"><a href="{% url 'student_by_class' 'J3' %}">Jss 3</a></p>
            <p class="w3-hover-white w3-large"> <a href="{% url 'student_by_class' 'S1' %}">Ss 1</a></p>
            <p class="w3-hover-white w3-large"><a href="{% url 'student_by_class' 'S2' %}">Ss 2</a></p>
            <p class="w3-hover-white w3-large"><a href="{% url 'student_by_class' 'S3' %}">Ss 3</a></p>
        </div>
    </div>
</div>
<div class="w3-red  w3-top" id="timecatch">
    {% for message in messages %}
    <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }} </div>
    {% endfor %}
</div>
<style>
    .whole-container {
        display: block;
        width: 100%;
    }

    .all-block {
        width: 100%;
    }

    .search-block {
        background-image: linear-gradient(to right, rgb(37, 36, 91) 0%, rgb(59, 66, 117) 50%, rgb(39, 33, 72) 100%);
        color: white;
        display: none;
    }

    .top-block {
        display: block;
    }

    .prof-main {
        background-color: white;
        display: block;
        z-index: 1;
        position: relative;
    }

    .box-red {
        display: block;
        background-image: linear-gradient(to right, rgb(37, 36, 91) 0%, rgb(59, 66, 117) 50%, rgb(39, 33, 72) 100%);
        z-index: 9;
        color: white;
        padding: 10px;
    }

    .pointer {
        font-weight: 900;
    }

    .point {
        color: aqua;
        font-size: 1rem;
    }

    .firstname {
        font-size: 3rem;
    }

    .lastname {
        font-size: 2.5rem;
    }

    .firstname,
    .lastname {
        color: #370e3860;
        font-weight: 900;
        text-transform: capitalize;
        margin-left: 10px;
        text-shadow: 2px 2px 5px rgb(52, 52, 116);
    }

    @media screen and (max-width: 799px) {
        .prof-img {
            width: 100%;
        }

        .prof-main {
            width: 100%;
        }
    }

    @media screen and (min-width: 800px) {
        .whole-container {
            display: flex;
        }

        .all-block {
            display: block;
            width: 80%;
        }

        .search-block {
            width: 20%;
            height: fit-content;
            padding: 10px;
            position: fixed;
            right: 0;
            display: block;
        }

        .top-block {
            display: flex;

        }

        .prof-img {
            width: 400px;
            height: 400px;
        }

        .prof-main {
            width: 100%;
        }
    }
</style>
{% endblock content %}